.custom-select {
	position: relative;
	background: #6daf92;
	transition: .5s;
	left: -7px;
	top: -1px;
	height: 45px;
	border: solid 2px #8dcca9;
	border-radius: 0 10px 10px 0;
}
	.custom-select select {
		display: none;
	}
	.custom-select.units {
		width: 8em;
		z-index: 100;
	}

.select-hide {
	display: none;
}


.current-choice {
	color: #ffffff;
	background-color: #6daf92;
	position: relative;
	transition: .5s;
	top: 11%;
	cursor: pointer;
}
	.current-choice:after {
		position: absolute;
		content: "";
		top: 41%;
		margin-left: 10px;
		border: 6px solid transparent;
		border-color: #ffffff transparent transparent transparent;
		transition: .25s;
	}
	.current-choice.select-arrow-active:after {
		border-color: transparent transparent #ffffff transparent;
	}


.select-items {
	position: absolute;
	background-color: #6daf92;
	top: 40px;
	left: 0;
	right: 0;
	padding-top: 5px;
	border: solid 2px #8dcca9;
	border-radius: 10px;
}
	.select-items div {
		color: #ffffff;
		transition: .5s;
		border: 1px solid transparent;
		border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
		padding: .5em;
		cursor: pointer;
	}
	.select-items div:hover {
		background-color: rgba(0, 0, 0, 0.1);
	}

