@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');


/*
<div class="service-group">
	<div class="service-border">
		<div class="service-title">Acupuncture</div>
	</div>
	<div id="acupuncture" class="service">
		is an ancient Asian therapy that consists of stimulating designated points with needles to restore and balance the body’s energy, or Qi (pronounced chee).
		These are gateways through which the practitioner exerts influence upon organs and functions, stimulating and activating the body’s self-healing mechanisms.
		It is a part of Traditional Chinese Medicine (TCM), which also includes the application of electrical stimulation, heat, acupressure, diet, and Herbal Medicine.
	</div>
</div>
*/

.service-group {
	display: grid;
	width: 90%;
	grid-template-columns: 4ch auto;
	grid-template-rows: repeat(3, auto);
	margin-left: auto;
	margin-right: auto;
	background-color: lightgrey;
	margin-bottom: 1%;
}

.service-border {
	grid-column: 1;
	grid-row: 1 / 2;
	clip-path: polygon(calc(100% - 0.35em) 0%, 100% 50%, calc(100% - 0.35em) 100%, 0% 100%, 0% 0%);
	font-family: 'Sansita Swashed', cursive;
	font-weight: 600;
	font-size: 30px;
	width: max-content;
	background-color: lightseagreen;
}

.service-title {
	clip-path: polygon(calc(100% - 0.35em) 0%, 100% 50%, calc(100% - 0.35em) 100%, 0% 100%, 0% 0%);
	background-color: lightcoral;
	padding-right: 1ex;
	margin: auto;
}

.service {
	background-color: lightcoral;
	grid-column: 2;
	grid-row: 2 / -1;
	padding: 1%;
	border: solid 3px lightseagreen;
	border-radius: 15px;
}

.service .row {
	text-indent: 0%;
}