#services-offered {
	width: 80vw;
	border-radius: 15px;
	padding: 15px;
	margin-left: 10vw;
	margin-right: 10vw;
	background-color: var(--acu-green);
}

.row {
	display: flex;
	flex-direction: row;
}

.service {
	background-color: var(--darker-than-back);
	border-radius: 12px;
	padding: 15px;
	margin: 10px;
	color: var(--acu-white);
}
	.service h3 {
		margin: 0%;
		color: var(--acu-dark-white);
	}
