:root {
	/* Base colors */
	--acu-wallpaper: #c8dbff;

	--acu-green: #71c79c;
	--acu-orange: #f08080;
	--acu-blue: #6495ed;
	--acu-red: #f32c61;
	--acu-white: #f0fff0;
	--acu-black: #383636;
	--acu-brown: #bc8f8f;

	/* Darker variants */
	--acu-dark-red: #c70c3e;
	--acu-dark-green: #42986e;
	--acu-dark-orange: #ce6244;
	--acu-dark-blue: #2164df;
	--acu-dark-white: #dce9e9;
	--acu-dark-brown: #795c5c;

	/* Semi-transparent overlays */
	--darker-than-back: #00000030;
	--lighter-than-back: #ffffff30;
}