@charset "UTF-8";


/* ~~~~~~~~~~~~~~~~~~~ Brushes box ~~~~~~~~~~~~~~~~~~~ */

.brushes {
	width: 55%;
	background-color: #3cb371;
	padding: 5px 0;
	border-radius: 10px;
}



/* ~~~~~~~~~~~~~~~~~~~ Paint tools ~~~~~~~~~~~~~~~~~~~ */

.radiomark.mild:after {
	background-color: #f0e68c;
}
.radiomark.moderate:after {
	background-color: #f08080;
}
.radiomark.strong:after {
	background-color: #eb1f48;
}


/* ~~~~~~~~~~~~~~~~~~~ Actual drawboard ~~~~~~~~~~~~~~~~~~~ */

canvas {
	background-color: rgb(220, 255, 220);
	background-image: url("../images/markup-board.png");
	/* background-size: contain; */
	background-repeat: no-repeat;
	background-position: center;
	border: solid 4px #3cb371;
	border-radius: 10px;
	margin-left: 32%;
	margin-top: 1%;
}


#block-paint-tools {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60px;
}

#clear-canvas {
	margin-left: 10px;
}

/* ~~~~~~~~~~~~~~~~~~~ Brush size slider ~~~~~~~~~~~~~~~~~~~ */

#brush-size {
	/* height: 34px; */
	-webkit-appearance: none;
	transition: .6s;
	-moz-transition: .6s;
	-webkit-transition: .6s;
	-ms-transition: .6s;
	width: 50%;
	/* margin-left: 20%; */
	/* margin-top: 1%; */
}

	#brush-size:focus {
		outline: none;
	}

	/* Safari and Google Chrome */
	#brush-size::-webkit-slider-runnable-track {
		width: 100%;
		height: 8px;
		cursor: pointer;
		/* box-shadow: 0px 0px 0px #000000; */
		background: #8a5be2;
		border-radius: 5px;
		/* border: 0px solid #000000; */
	}

	#brush-size::-webkit-slider-thumb {
		transition: .6s;
		-moz-transition: .6s;
		-webkit-transition: .6s;
		-ms-transition: .6s;
		/* box-shadow: 0px 0px 0px #000000; */
		border: 2px solid #008b8b;
		border-radius: 50%;
		cursor: pointer;
		-webkit-appearance: none;
	}

	/* Mozilla Firefox */
	#brush-size::-moz-range-track {
		width: 100%;
		height: 8px;
		cursor: pointer;
		/* box-shadow: 0px 0px 0px #000000; */
		background: #8a5be2;
		border-radius: 1px;
		/* border: 0px solid #000000; */
	}

	#brush-size::-moz-range-thumb {
		transition: .6s;
		/* box-shadow: 0px 0px 0px #000000; */
		border: 2px solid #E35619;
		border-radius: 50%;
		cursor: pointer;
	}


	/* Microsoft Edge */
	#brush-size::-ms-track {
		width: 100%;
		height: 8px;
		cursor: pointer;
		background: transparent;
		border-color: transparent;
		color: transparent;
	}

	#brush-size::-ms-thumb {
		margin-top: 1px;
		/* box-shadow: 0px 0px 0px #000000; */
		border: 2px solid #E35619;
		height: 25px;
		width: 25px;
		border-radius: 50%;
		background: #2B9E1E;
		cursor: pointer;
	}

	#brush-size::-ms-fill-lower,
	#brush-size::-ms-fill-upper {
		background: #8a5be2;
		border: 0px solid #000000;
		border-radius: 2px;
		/* box-shadow: 0px 0px 0px #000000; */
	}

		#brush-size:focus::-ms-fill-lower,
		#brush-size:focus::-ms-fill-upper {
			background: #da70d6;
		}
